#navbar {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

#navbar .navbar-item {
    margin: 0 10px;
    height: 100%;
}

#navbar .navbar-left-container {
    display: flex;
    margin-right: auto;
}

#navbar .navbar-right-container {
    display: flex;
    margin-left: auto;
}